/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #84b1de;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #343a40;
}

/* Navbar Styles */
.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffc107;
}

/* Form Styles */
.form-control {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced4da;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    border-radius: 5px;
}

/* Table Styles */
.table {
    background-color: #d27f7f;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table thead {
    background-color: #343a40;
    color: #aa85f5;
}

.table tbody tr:hover {
    background-color: #251414;
}

.badge {
    font-size: 0.9rem;
}

/* Footer Styles */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}
